.page_title {
  @include fts(24,28);
  color: $gray_01;
  margin-bottom: rem-calc(30);
}



.section {
  padding-top: rem-calc(30);
  margin-bottom: rem-calc(60);

    &--title {
        @include fts(22,26);
        color: $gray_01;
        margin-bottom: rem-calc(40);
        text-align: center;

        @include medium {
            @include fts(26,30);
        }

        & strong {
            position: relative;
            font-weight: normal;
            padding: rem-calc(10) rem-calc(40);

            &:before, &:after {
            content: '';
            position: absolute;
            display: inline-block;
            width: rem-calc(20);
            height: rem-calc(4);
            background-color: $green-main;
            top: calc(50%);
            }
            &:before { left: 0; }
            &:after { right: 0; }
        }

        .work_section & {
            max-width: 75rem;
            margin: 0 auto rem-calc(40);
        }
    }
}


.transition_section {
  position: absolute;
  width: 100%;
  height: 100%;

  &--holder {
    position: relative;
    height: 500px;

    @include medium {
      height: 380px;
    }
  }
}

// contact
.contact_section {
  background-color: $grey_02;
  border-top: 1px solid $grey_01;
  border-bottom: 1px solid $grey_01;
  margin-bottom: 0;
  padding-top: rem-calc(60);
  padding-bottom: rem-calc(40);

  &--inner {
    position: relative;
    min-height: 520px;
  }
}


// sns_section
.sns_section {
  padding-top: rem-calc(40);

  &--title {
    @include fts(14,24);
    color: $gray_01;
    margin-bottom: rem-calc(30);
    text-align: left;

    & strong {
      position: relative;
      display: inline-block;
      padding-left: rem-calc(14px);
      font-weight: normal;

      &:before {
        content: "";
        position: absolute;
        display: block;
        width: 4px;
        height: 100%;
        left: 0;
        top: 0;
        background-color: $green-main;
      }
    }

    @include medium {
      @include fts(16,26);
    }
  }

  &--holder {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    @include medium {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
  }

  &--link {
    padding: 0 0.5rem;

    & .icon {
      width: 1.5rem;
      height: 1.5rem;
      fill: $gray_02;
      @include setTransition;
    }

    &:hover, &:active {
      & .icon {
        fill: $gray_01;
        @include setTransition;
      }
    }
  }
}