// 37. Custom
// -----------
$mobile-medium: "(max-width: 640px)";

// 色
$white: #fff;
$black: #000;

$gray_01: #333333;
$gray_02: #a3a3a3;

$grey_01: #d1d1d1;
$grey_02: #f1f1f1;

$green-main: #41b883;
$green-darker: darken($green-main,10);
$green-lighter: lighten($green-main,35);

$blue_01: #41a1b8;
$orange_01: #dc5534;
$purple_01: #9c41b8;

$main_text: $gray_01;
