

/* konami */
.main { position: relative; }

.konami--overlay {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 9000;
  background-color: rgba(0,0,0,0.6);
}

.konami {
  display: none;
  position: fixed;
  z-index: 10000;
  width: 60%;
  left: 20%;
  margin: 10% 0;
  background-color: #f1f1f1;
  border: solid 2px $color-gray;
  padding-top: 10%;

  -webkit-box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.4);
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.4);
}

.konami--title {
  margin: 0;
  text-align: center;
  font-size: 32px;
  color: #126073;
}

.konami--content {
  position: relative;
  padding: 0 10% 10%;
  overflow: hidden;
}

.konami--content p {
  margin: 30px 0;
  font-size: 20px;
  color: $color-gray;
  text-align: center;
}

.konami--button--holder {
  text-align: center;
  margin-top: 40px
}

.konami--button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #126073;
  color: #fefefe;
  font-size: 20px;
  cursor: pointer;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

  .konami--button:hover {
    background-color: #167e97;
    color: #fefefe;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .konami--button:active {
    color: #fefefe;
  }

.konami--plane {
  position: absolute;
  display: none;
  right: 4px;
  bottom: -86%;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
  .konami--plane .fa {
    color: #e0e0e0;
    font-size: 1500%;
  }
  .konami--plane:hover {
    bottom: -30%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
