/*
 * Navigation
 */

.navigation {
  position: absolute;
  width: 100%;
  left: 0;
  top: 44px;
  background-color: #333;
  border-bottom: 1px solid #000;



  @media screen and #{breakpoint(large)} {
    display: block;
    position: relative;
    width: auto;
    top: 0;
    background-color: transparent;
    border: none;
  }

  &--holder {
    padding: 0;
    border-top: 1px solid $color-black;
    background: $color-gray-medium;
    margin-top: 1px;

    @media screen and #{breakpoint(large)} {
      display: block !important;
      border-top: none;
      background: transparent;
    }
  }

  &--list {
    margin: 0;
    padding: 0 0 0 5%;
    text-align: center;


    @media screen and #{breakpoint(xmedium)} {
      text-align: left;
    }
  }

  &--listitem {
    display: block;
    margin-right: 20px;
    padding: 0;

    &.menu_lang {
      text-align: right;
    }

    @media screen and #{breakpoint(medium)} {
      display: inline-block;
      float: right;
      font-size: 14px;
    }
    @media screen and #{breakpoint(xmedium)} {
      font-size: 1rem;
    }
  }

  &--link {
    display: block;
    color: $color-white;
    padding: 8px 0 10px;
    border-bottom: rem-calc(1px) solid $color-black;
    @include setTransition(color);

    &:hover, &:active, &:focus {
      color: $theme-blue;
      border-bottom: rem-calc(1px) solid $theme-blue;
      @include setTransition(color);

      @media screen and #{breakpoint(medium)} {
        padding: 8px 0 8px;
        border-bottom: rem-calc(3px) solid $theme-blue;
        margin-bottom: -1px;
      }
    }

    @media screen and #{breakpoint(medium)} {
      color: $color-white;
      border-bottom: none;
    }

  }

  &--button-holder {
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
    height: 44px;
    cursor: pointer;
    text-align: center;

    @media screen and #{breakpoint(large)} {
      display: none;
    }

    &:hover &--menu-button {
      color: $theme-blue;
    }

    @media screen and #{breakpoint(large)} {
      display: none;
    }
  }

  &--menu-icon {
    position: relative;
    display: inline-block;
    top: 7px;
    bottom: 0;
    left: 0;
    font-size: 2rem;

    @media screen and #{breakpoint(large)} {
      display: none;
    }
  }
}


/*
** Language
*/
.menu-lang-container {
  display: inline-block;

  @media screen and #{breakpoint(xmedium)} {
    padding-left: 1rem;
    border-left: 1px solid $color-white;
  }

  & .menu .navigation--link_lang {
    position: relative;
    display: block;
    padding: 8px 0 10px 1.3rem;

    & a {
      display: inline-block;
      padding: 0;
      color: $color-white;
      @include setTransition(color);

      &:before {
        position: absolute;
        top: calc(50% - 9px);
        left: 0;
        content: '\f1ab';
        color: $color-white;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        @include setTransition(color);
      }
    }

    &:hover, &:active, &:focus {
      & a {
        color: $theme-blue;
        @include setTransition(color);

        &:before {
          color: $theme-blue;
          @include setTransition(color);
        }
      }
    }
  }
}


#wpadminbar {
  display: none;
}

html.js {
    margin-top: 0 !important;
}
