@mixin fts($fts, $lin: 24) {
  $linS: $lin / $fts;
  font-size: #{$fts}px;
  font-size: rem-calc($fts);
  line-height: $linS;
}

@mixin ftsButton($fts, $lin: 24) {
  $linS: $lin / $fts;
  font-size: #{$fts}px;
  font-size: rem-calc($fts);
  $lineH: $fts / 10;
  line-height: #{$lineH}rem;
}

@mixin ftsAutoLine($fts) {
  font-size: #{$fts}px;
  font-size: rem-calc($fts);
  $lin: $fts / 10;
  line-height: #{$lin}rem;
}

@mixin letter-spacing($sizeValue: .08){
  letter-spacing: ($sizeValue * 10) + px; // rem未対応ブラウザのfallback
  letter-spacing: $sizeValue + rem;
}

@mixin line-height($sizeValue: 1.3){
  line-height: ($sizeValue * 10) + px; // rem未対応ブラウザのfallback
  line-height: $sizeValue + rem;
}

@mixin setTransition($property: all) {
  -webkit-transition: $property 0.2s ease-in-out;
  -moz-transition: $property 0.2s ease-in-out;
  -ms-transition: $property 0.2s ease-in-out;
  -o-transition: $property 0.2s ease-in-out;
  transition: $property 0.2s ease-in-out;
}

@mixin setTransitionSlow {
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -ms-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

@mixin box-sizing($type) {
 -webkit-box-sizing:$type;
 -moz-box-sizing:$type;
 box-sizing:$type;
}

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -o-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}


@mixin rotate($deg) {
  -moz-transform: rotate(#{$deg}deg);
  -webkit-transform: rotate(#{$deg}deg);
  -o-transform: rotate(#{$deg}deg);
  -ms-transform: rotate(#{$deg}deg);
  transform: rotate(#{$deg}deg);
}


@mixin setButtonColor($color-bg, $color-font, $color-font-hover : $color-font ) {
  color: $color-font;
  fill: $color-font;
  background-color: $color-bg;
  @include setTransition;

  &:hover, &:focus, &:active {
    color: $color-font-hover;
    fill: $color-font-hover;
    background-color: darken($color-bg, 5);
    @include setTransition;
  }
}
