/*
 * Section
 */
.section {
  width: 100%;
  overflow: hidden;

  &--title {
    margin: 0
  }

  &--container {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }


  // list
  &--list {
    margin: 0;
    padding: 1rem;
  }

  &--listitem {
    padding: 0 20px;
    list-style-type: none;
    font-size: 0.9rem;
    border-left: 2px solid $color-gray;

    &:not(:last-child) {
      margin-bottom: 5rem;
    }

    .interests & {
      font-size: 0.7rem;
    }
    .lang & {
      list-style-type: none;
    }

    @media screen and #{breakpoint(medium)} {
      &.item_2 {
        margin-bottom: 0;
      }
    }

  }
  // list end


  // category
  &--category {
    &:not(:first-child) {
      margin-top: 2rem;
    }
  }

  // content
  &--content {

    &--title {
      margin: 0;
      color: $color-black;
      font-size: 1rem;

      .skill & {
        position: relative;
        font-size: 1.4rem;
        padding-left: 1rem;

        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          width: 2px;
          margin-top: -0.7rem;
          height: 1.4rem;
          background-color: $color-black;
        }
      }
    }

    &--subtitle {
      margin: 0;
    }

    &--info {

      &-holder {
        margin: 0;
        color: #5C5C5C;
        font-size: 0.7rem;
      }

      &-date,
      &-degree,
      &-location {
        display: inline-block;
        padding-right: 10px;
        font-size: 0.7rem;
      }

      &-degree {
        border-right: 1px solid #5C5C5C;
      }

      &-location {
        display: inline-block;
        padding-left: 4px;
      }

      &-description {

        & ul li {
          list-style-type: disc;
          margin-bottom: 8px;
        }
      }
    }
  }
  // Content end

  & p {
  	font-size: 0.9rem;
  }

  &--title {
    text-align: center;
    padding: 4rem 0;
    border-bottom: 1px solid $color-gray;
    border-top: 1px solid $color-gray;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .experience & {
      background-image: url(../images/slide2-bg.jpg);
    }
    .skills & {
      background-image: url(../images/slide1-bg.jpg);
    }
    .education & {
      background-image: url(../images/slide3-bg.jpg);
    }
    .interests & {
      background-image: url(../images/slide4-bg.jpg);
    }

    @media screen and #{breakpoint(medium)} {
      background-image: none;

      .experience & {
        background: url(../images/slide2-bg.jpg) center 0 no-repeat fixed;
      }
      .skills & {
        background: url(../images/slide1-bg.jpg) center 0 no-repeat fixed;
      }
      .education & {
        background: url(../images/slide3-bg.jpg) center 0 no-repeat fixed;
      }
      .interests & {
        background: url(../images/slide4-bg.jpg) center 0 no-repeat fixed;
      }
    }

    &-content {
      display: inline-block;
      padding: 1rem 4rem;
      background: rgba(0,0,0,0.9);
      color: $color-white;
    }

    @media screen and #{breakpoint(superlarge)} {
      .experience & {
        background-size: cover;
      }
      .skills & {
        background-size: cover;
      }
      .education & {
        background-size: cover;
      }
      .hobbies & {
        background-size: cover;
      }
    }
  }


  // about me
  &.aboutme {
    position: relative;
    background-color: $color-deep-blue;
  }

  .aboutme & {

    &--title {
      color: $color-white;
      @include fts(20, 20);
      text-align: left;
      padding: 1rem;

      @media screen and #{breakpoint(medium)} {
        @include fts(24, 24);
        padding: 2rem;
      }
    }

    &--inner {
      color: $color-white;
      background: rgba(0,0,0,0.8);
      padding: 2rem 3rem;
    }

    &--intro {

      & p {
        padding: 1rem 0;
        @include fts(16, 20);
      }

    }
  }
}
