/*
 * Table display
 */
%table {
  display: block;
  table-layout: fixed;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  @media screen and #{breakpoint(medium)} {
    display: table;
  }

  &.force-table { display: table; }
  & .columns { float: none; }
}

%table--cell {
  display: block;
  margin: 40px 0;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  @media screen and #{breakpoint(medium)} {
      display: table-cell;
      margin: 0;
  }

  .force-table & { display: table-cell; }
}

%table--row {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  @media screen and #{breakpoint(medium)} {
      display: table-row;
  }

  .force-table & { display: table-row; }
}


/*
 * Table layout
 */
.table {@extend %table;}
.table--cell {@extend %table--cell;}
.table-row {@extend %table--row;}

// one cells
.table--onecells {
  @extend %table;
  & .table--cell {
    @media screen and #{breakpoint(medium)} {
        width: 100%;
    }
  }
}

// two cells
.table--twocells {
  @extend %table;
  & .table--cell {
    @media screen and #{breakpoint(medium)} {
        width: 50%;
    }
  }
}

// three cells
.table--threecells {
  @extend %table;
  & .table--cell {
    @media screen and #{breakpoint(medium)} {
        width: 33.333%;
    }
  }
}

// three cells
.table--fourcells {
  @extend %table;
  & .table--cell {
    @media screen and #{breakpoint(medium)} {
        width: 25%;
    }
  }
}
