
// 36. Custom
// ----------

$color-white: #fff;
$color-black: #000;
$color-gray: #333;
$color-gray-medium: #1D1D1D;

$background-dark: $color-gray;

$theme-blue: #4185AE;
$color-deep-blue: #126073;
