/*
** Reset
*/
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

*,*:before, *:after {
	@include box-sizing(border-box);
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-feature-settings: "palt";

	letter-spacing: 0.1rem;
	margin: 0;
	background-color: $white;
	color: $black;
  overflow-x: hidden;

	&.no_scroll { overflow: hidden; }
}

a, a:hover, a:active, a:focus,
button, button:hover, button:active, button:focus { outline: 0; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

ul {
  list-style: none;
	padding: 0;
	margin: 0;
}

li{
		list-style-type: none;
		list-style-position: outside;
		padding: 0;
}

.svg-defs {
  width: 0;
  height: 0;
}
.svg-inverted-mask {
  position: absolute;
  width: 100%;
  height: 100%;
}


h1 {
  font-weight: normal;
  font-size: rem-calc(30);
}

h2 {
  font-weight: normal;
  font-size: rem-calc(24);
}

a {
  color: #42b983;
}


.wrapper {
  width: 100%;
  background-color: $white;
}

.main {
  position: relative;
  background-color: $white;
}
