
/*
** Skill
*/
.skill_block {
  padding: 0 rem-calc(10) 0 rem-calc(40);

  @include medium {
    padding: 0 rem-calc(30) 0 rem-calc(20);
  }

  &--section {

    @include medium {
      justify-content: flex-end;
    }
  }

  &--title {
    position: relative;
    @include fts(12,22);
    margin: 0;
    padding-top: rem-calc(10);
    padding-bottom: rem-calc(10);
    text-align: left;

    @include medium {
      @include fts(16,20);
      text-align: right;
    }

    & strong {
      color: $gray_01;
      @include setTransition;
      cursor: pointer;
      font-weight: normal;

      &:hover, &:active, .active & {
        color: $green-darker;
        @include setTransition;

        &:after {
          background-color: $green-darker;
          @include setTransition;
        }
      }
    }

    &.cell { padding-right: 0; }

    &:after {
      content: '';
      position: absolute;
      top: calc(50% - 5px);
      left: rem-calc(-20);
      width: rem-calc(10);
      height: rem-calc(10);
      background-color: $green-main;
      @include setTransition;

      @include medium {
        top: calc(50% - 3px);
        left: initial;
        right: rem-calc(-25);
      }
    }
  }

  &--list {
    margin-top: rem-calc(10);
    margin-bottom: rem-calc(40);

    @include medium {
      margin-top: rem-calc(40);
      margin-bottom: rem-calc(60);
    }
  }

  &--all_item {
    display: inline-block;
    position: relative;
    @include fts(14,24);
    font-weight: normal;
    margin: 0;
    padding: rem-calc(10) rem-calc(40) rem-calc(10) rem-calc(20);

    &:after {
      content: '';
      position: absolute;
      top: calc(50% - 5px);
      left: rem-calc(0);
      width: rem-calc(8);
      height: rem-calc(8);
      background-color: $green-main;
    }
  }
}


/*
** work_block
*/
.work_block {
  position: relative;
  height: 100%;

  // slider
  &--container {
    position: relative;
    height: rem-calc(200);
    overflow: hidden;
    margin-top: rem-calc(60);
    @include medium {
      height: rem-calc(300);
    }
  }

  &--holder {
    position: relative;
    height: rem-calc(250);
    overflow-x: scroll;
    overflow-y: hidden;
    @include medium {
      height: rem-calc(350);
    }
  }

  &--list {
    position: absolute;
    height: rem-calc(200);
    display: flex;
    flex-flow: row nowrap;
    @include medium {
      height: rem-calc(300);
    }
  }

  &--item {
    position: relative;
    width: rem-calc(250);
    height: rem-calc(200);
    border: 1px solid $black;
    background-color: $gray_01;

    @include medium {
      width: rem-calc(500);
      height: rem-calc(300);
    }
  }

  &--buttons {
    margin-top: rem-calc(40);
  }


  // Elements
  &--title {
    position: relative;
    z-index: 20;
    @include fts(16,26);
    margin-bottom: rem-calc(10);
    text-align: center;

    @include medium {
      @include fts(24,34);
    }
  }

  &--category {
    @include fts(14,24);
    margin-bottom: rem-calc(10);
    text-align: center;

    @include medium {
      @include fts(16,26);
    }
  }

  &--image {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    margin: 0;
    height: 100%;
    width: 100%;


    & img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }

  &--link {
    position: absolute;
    display: block;
    z-index: 50;
    // top: 0;
    left: 0;
    bottom: -100%;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: rem-calc(10);
    color: $white;
    background-color: rgba(0,0,0,0.1);
    @include setTransition;
  }

  &--section {
    position: relative;
    width: 100%;
    @include setTransition;
  }

  &:hover &--link, &:active &--link {
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    @include setTransition;
  }

  &:hover &--section, &:active &--section {
    color: $white;
    @include setTransition;
  }

  &--link:hover &--section, &--link:active &--section {
    bottom: 0;
    @include setTransition;
  }
}


.form_validation {
  padding-top: rem-calc(40);

  &--title {
    @include fts(16,26);
    margin-bottom: rem-calc(10);
    text-align: center;

    @include medium {
      @include fts(24,34);
    }
  }

  &--message {
    @include fts(12,22);
    text-align: center;

    @include medium {
      @include fts(16,26);
    }
  }
}


.contact_info {
  margin-top: rem-calc(30);
  padding-top: rem-calc(30);
  border-top: 1px solid $grey_02;

  & p {
    text-align: left;
    margin: 0;
    color: $gray_01;
    @include fts(10,20);

    @include medium {
      @include fts(12,22);
    }
  }

  & .icon {
    position: relative;
    bottom: -3px;
    fill: $gray_02;
    width: rem-calc(12);
    height: rem-calc(12);
    margin-right: rem-calc(10);
    @include setTransition;

    @include medium {
      width: rem-calc(14);
      height: rem-calc(14);
    }
  }

  & a {
    color: $gray_01;
    @include fts(10,20);
    @include setTransition;

    @include medium {
      @include fts(12,22);
    }

    &:hover, &:active {
      color: $green-main;
      @include setTransition;

      & .icon {
        fill: $green-main;
        @include setTransition;
      }
    }
  }
}


/*
** tokyo_block
*/
.tokyo_block {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: table;

  &--title {
    position: relative;
    z-index: 20;
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    @include fts(24,34);
    color: $white;

    @include medium {
      @include fts(30,40);
    }
  }

  &--bg {
    position: absolute;
    z-index: 10;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/static/images/tokyo-small.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    @include medium {
      // background-attachment: fixed;
      background-image: url(/static/images/tokyo.jpg);
    }
  }
}
