.pie {
  position: relative;
  z-index: 10;
  width: 200px;
  height: 200px;
  background-color: $white;
  clip-path: circle(100px at 100px 100px);
  perspective: 1000px;
  margin: rem-calc(20) auto rem-calc(40);

  @include medium {
    width: 300px;
    height: 300px;
    clip-path: circle(100px at 150px 150px);
    margin: 0;
  }

  &--inner {
    position: relative;
    z-index: 300;
    width: 200px;
    height: 200px;
    background-color: $white;
    clip-path: circle(80px at 100px 100px);

    @include medium {
      width: 300px;
      height: 300px;
      clip-path: circle(80px at 150px 150px);
    }
  }

  &--half {
    position: absolute;
    top: 0;
    width: 100px;
    height: 200px;
    @include setTransitionSlow();

    @include medium {
      width: 100px;
      height: 200px;
      top: 50px;
    }

    // Left
    &.left {
      z-index: 200;
      left: 0;
      background-color: $green-main;
      border-bottom-left-radius: 90px;
      border-top-left-radius: 90px;
      transform-origin: 100% 50% 0;
      perspective-origin: 100% 50% 0;


      @include medium {
        left: 50px;
      }

      // Progress
      .progress-90 & {
        transform: rotate(-15deg);
      }
      .progress-80 & {
        transform: rotate(-30deg);
      }
      .progress-75 & {
        transform: rotate(-45deg);
      }
      .progress-70 & {
        transform: rotate(-55deg);
      }
    }


    // Right
    &.right {
      z-index: 150;
      right: 0;
      background-color: $green-main;
      border-bottom-right-radius: 90px;
      border-top-right-radius: 90px;
      transform-origin: 0% 50% 0;
      perspective-origin: 0% 50% 0;

      @include medium {
        right: 50px;
      }
    }
  }
}






// .pie {
//   position: relative;
//   z-index: 10;
//   width: 30px;
//   height: 30px;
//   background-color: $white;
//   clip-path: circle(15px at 15px 15px);
//   perspective: 1000px;
//
//   .big_pie & {
//     width: 300px;
//     height: 300px;
//     clip-path: circle(100px at 150px 150px);
//   }
//
//   &--inner {
//     position: relative;
//     z-index: 300;
//     width: 20px;
//     height: 20px;
//     background-color: $white;
//     clip-path: circle(15px at 15px 15px);
//
//     .big_pie & {
//       width: 300px;
//       height: 300px;
//       clip-path: circle(80px at 150px 150px);
//     }
//   }
//
//   &--half {
//     position: absolute;
//     top: 0;
//     width: 15px;
//     height: 30px;
//     @include setTransitionSlow();
//
//
//     .big_pie & {
//       width: 100px;
//       height: 200px;
//       top: 50px;
//     }
//
//     // Left
//     &.left {
//       z-index: 210;
//       left: 0;
//       background-color: $green-main;
//       border-bottom-left-radius: 90px;
//       border-top-left-radius: 90px;
//       transform-origin: 100% 50% 0;
//       perspective-origin: 100% 50% 0;
//
//
//       .big_pie & {
//         left: 50px;
//       }
//
//       // Progress
//       .progress-90 & {
//         transform: rotate(-15deg);
//       }
//       .progress-80 & {
//         transform: rotate(-30deg);
//       }
//       .progress-75 & {
//         transform: rotate(-45deg);
//       }
//       .progress-70 & {
//         transform: rotate(-55deg);
//       }
//     }
//
//
//     // Right
//     &.right {
//       z-index: 150;
//       right: 0;
//       background-color: $green-main;
//       border-bottom-right-radius: 90px;
//       border-top-right-radius: 90px;
//       transform-origin: 0% 50% 0;
//       perspective-origin: 0% 50% 0;
//
//       .big_pie & {
//         right: 50px;
//       }
//     }
//   }
// }
